.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  background: transparent;
  transition: background 0.3s ease, transform 0.3s ease;

  &.header-hidden {
    transform: translateY(-100%);
  }
}

.header-drop {
  @apply text-text1;
  background: white;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  transform: translateY(0);
  @apply text-text1 shadow-sm;
}

.header-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
  transform: translateY(0);
  @apply text-text1 shadow-sm;
}

.logo {
  display: flex;
  align-items: center;
}

a {
  padding-bottom: 0;
}
