.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 20px;
  height: 80px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

a {
  padding-bottom: 0;
}
