@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  @apply bg-gray-secondary text-text1;
}

.page-height {
  min-height: calc(100vh - 96px);
}

.content {
  @apply px-6 w-full mx-auto max-w-7xl lg:px-8;
}

.section-title {
  @apply text-4xl font-semibold tracking-tight text-pretty sm:text-5xl mb-10;
}
